@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Raleway:wght@300&display=swap');
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0184d0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #0184d0;
  border-radius: 8px;
  border: 4px solid #ffffff;
}
li {
  text-decoration: none;
}
html * {
  font-family: Montserrat;
}
body {
  background-color: #FFE9AE ;



  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 300%;
  text-align: center;
}
.container {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 65vh;
}
.content {
  border-radius: 15px 15px 0 0;
  width: 1767px;
  height: 100vh;
  margin: 0 auto;
  text-decoration: none;
  background-color: #ffffff;
}
.nav-ul 
{
  margin: 0 15px;
  color:white;
  list-style-type: none;
}
.content-parent {
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  width: 1250px;
  max-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;  
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo-text {
  color:white;
  font-weight:600;
}
.login-header {
  font-weight:700;
  font-size:36px;
  margin:2% 0 0 0;
}
.createChild-header {
  margin:2% 0 15% 0;
}
.logo-image {
  width: 42px;
  height: 42px;
  margin-left:10px;
  margin-right: 10px;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #19A7CE;
  height: 8%;
  border-radius:8px;
}
.title-content {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  margin: 0 0 0 2%;
}
.title-content p {
  font-size: 220%;
  margin: 1% 0 0 4%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 1px;
}
.title-content img {
  width: 50px; 
  height: auto;
}
.button-container {
  display: flex;
  width: 82%;
  margin: 0 0 0 40%;
  justify-content: space-evenly;
}
.login-line {
  width: 20%;
  height: 1px;
  margin: 0 auto 4%;
  background-color: black;
  border: none;
}
.login-content {
  display: flex;
  color: rgb(255, 255, 255);
  position: relative;
  border: none;
  background: none;
  font-size: 180%; /* 100% -> 16px, lepiej czcionka w procentach sie skaluje :D*/
  font-weight:bold;
  transition: 0.6s;
  cursor: pointer;
}
.login-content:before {
  content: "";
  padding: 0 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.6s;
}
.login-content:hover {
  color: rgb(0, 0, 0);
}
.login-content:hover:before {
  width: 100%;
  padding: 0;

}
.login-content:hover:after {
  width: 100%;
  padding: 0;
}
.register-content {
  position: relative;
  border: none;
  background: none;
  color: white;
  font-size: 180%; /* 100% -> 16px, lepiej czcionka w procentach sie skaluje :D*/
  font-weight:600;
  transition: 0.6s;
}
.register-content:hover {
  transition: 0.6s;
  color: black;
  cursor: pointer;
}
.register-content:before {
  content: "";
  padding: 0 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.6s;
}
.register-content:hover:before {
  width: 100%;
  padding: 0;
}
.register-content:hover:after {
  width: 100%;
  padding: 0;
}
.header-container {
  text-align: center;
  margin: 7% 0 0 0.5%;
  font-size: 240%;
  font-weight: 600;
  letter-spacing: 10px;
}
label {
  font-size: 170%;
  font-weight: bold;
  margin: 3% 0 2% 0;
}
.loginForm-container {
  display: flex;
  flex-direction: column;
  margin: 2% 0 0 0;
  text-align: center;
}
.loginForm-container label {
  width: 50%;
  margin: 3% 0 2% 25%;
}
::placeholder {
  color: rgba(0, 0, 0, 0.685);
  opacity: 1;
}

input[type="text"], input[type="email"]  {
  background: url('./Images/login-icon.png');
  font-weight: 200;
  background-position: 12px 12px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 30%;
  border: none;
  text-align: center;
  padding: 16px 16px;
  margin: 0 auto;
  font-size: 120%;
  transition: 0.6s;
}
input[type="email"]::placeholder {
  position: relative;
  right: 115px;
  font-weight: normal;
}
input[type="password"]::placeholder {
  position: relative;
  right: 115px;
  font-weight: normal;
}
input[name="password2"]::placeholder {
  right: 75px;
}
input[type="text"]::placeholder {
  position: relative;
  right: 40px;
  font-weight: normal;  
}
input[type="text"]:hover, input[type="email"]:hover  {
  transition: 0.6s;
  box-shadow: 0px 1px 1px black;
}
.title {
  display: flex;
  align-items: center;
}
.title-name {
  position: relative;
  display: inline-block;
  margin-left: -30px;
}

.title-name::before,
.title-name::after {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 250%;
  height: 1px;
  background-color: black;
}

.title-name::before {
  right: 100%;
  margin-right: 10px;
}

.title-name::after {
  left: 100%;
  margin-left: 10px;
}
.title .line-before,
.title .line-after {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}
.title .line-before {
  margin-right: 20px;
}

.title .line-after {
  margin-left: 20px;
}
li {
  list-style-type: none;
} 
.message
{
  font-size: 30px;
  text-align: center;
  margin: 10px 150px 10px 150px;

  background-color: #cfe5eb;
}
input[type="password"] {
  background: url('./Images/password-icon.png');
  background-position: 6px 12px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 30%;
  border: none;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s;
}
input[type="password"]:hover {
  transition: 0.6s;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 10px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 10px -3px rgba(66, 68, 90, 1);
}
.login-button {
  background-color: #62dfdf;
  width: 33.5%;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 16px 16px;
  margin:5% auto;
  font-size: 150%;
  font-weight: bold;
  transition: 0.6s;
}
.login-button:hover {
  background-color: #00dbdb;
  transition: 0.6s;
  cursor: pointer;
}
.passwordReset-button {
  width: 18%;
  margin: 0 auto;
  font-size: 120%;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}
.passwordReset-button:hover {
  font-weight: 600;
}
.registerForm-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 1% 0;
  text-align: center;
}
.loginForm-container {
  display: flex;
  flex-direction: column;
  margin: 1% 0 2% 0;
  text-align: center;  
}
.loginForm-container input {
  width:20%;
  margin: 5% auto 3% auto;
  text-align: center;
  border-bottom: 1px solid #000000;  
}
.mainSite-content h2 {
  margin:3% 0 0 0;
text-align:center;
}
.mainSite-content img {
  margin:2% 0 0 45%;
}
.registerForm-container input {
  width:20%;
  margin: 2% auto 2.5% auto;
  text-align: center;
  border-bottom: 1px solid #000000;
}
.changePassword-container input[type="password"] {
  background: url('./Images/password-icon.png');
  background-position: 0px 15px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;  
  width: 40%;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s;  
}
.changeName-container input[type="text"] {
  background: url('./Images/changeName-icon.png');
  background-position: 0px 15px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;  
  width: 40%;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s;  
}
.changePassword-container input[type="password"]::placeholder {
  right:1px;
  width:100%;
}
.changeName-container input[type="text"]::placeholder {
  right:0px;
  width:100%;
}
.pay-container {
  margin:4% 0 0 0;
  height:60vh;
  display: flex;
  justify-content: space-around;
}
.pay-content {
  display:flex;
  flex-direction:column;
  height:60%;
  width:25%;
  outline:1px solid black;
  border-radius:20px;
}
.payment-content {
  display:flex;
  flex-direction:column;
  height:60%;
  width:25%;
  outline:1px solid black;
  border-radius:20px;  
}
.payment-content p {
  margin:10% 0 0 0;
  font-weight:700;
  text-align:center;
}
.subtractMoneyInput {
  background: url('./Images/cash-icon.png');
  background-position: 0px 5px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border:none;
  border-bottom: 1px solid #000000;  
  width: 90%;
  text-align: center;
  padding: 8px 8px;
  font-size: 120%;
  transition: 0.6s;  
}
.subtractMoneyInput2 {
  background: url('./Images/cash-icon.png');
  background-position: 0px 5px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border:none;
  border-bottom: 1px solid #000000;  
  margin:0 0 4% 24%;
  width: 50%;
  text-align: center;
  padding: 8px 8px;
  font-size: 120%;
  transition: 0.6s;  
}
.pay-content h1{
  margin:2% 0 15% 0;
  font-size:24px;
}
.pay-content, .payment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registerForm-container [type=email] {
  background: url('./Images/email-icon.png');
  background-position: 6px 12px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;
  width: 20%;
  text-align: center;
  padding: 16px 16px;
  margin: 0 auto;
  font-size: 120%;
  transition: 0.6s;  
}
.register-button {
  background: url('./Images/login.png');
  background-position: 95% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-color: #8BEAFF;
  width: 16.5%;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 16px 16px;
  margin:2% auto;
  font-size: 120%;
  font-weight: bold;
  transition: 0.6s;
}
.register2-button {
  background: url('./Images/edit-button.png');
  background-position: 95% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-color: #8BEAFF;
  width: 16.5%;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 16px 16px;
  margin:2% auto auto auto;
  font-size: 120%;
  font-weight: bold;
  transition: 0.6s;  
}
.register3-button {
  background: url('./Images/edit-button.png');
  background-position: 95% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-color: #8BEAFF;
  width: 45%;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 12px 12px;
  margin:1% 28% 1% auto;
  font-size: 120%;
  font-weight: bold;
  transition: 0.6s;   
}
.changePassword-button{
  background: url('./Images/changePassword.png');
  background-position: 95% 50%;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-color: #8BEAFF;
  width: 45.5%;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 12px 12px;
  margin:3% auto auto auto;
  font-size: 100%;
  font-weight: bold;
  transition: 0.6s; 
}
.changeName-button {
  background: url('./Images/changeNamePass-icon.png');
  background-position: 95% 50%;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-color: #8BEAFF;
  width: 45.5%;
  border-radius: 25px;
  border: none;
  text-align: center;
  padding: 12px 12px;
  margin:3% auto auto auto;
  font-size: 100%;
  font-weight: bold;
  transition: 0.6s;  
}
.childDetail-container {
  display:flex;
  margin:0 auto 0 6%;
}
.changePassword-button:hover {
  background-color: #37d6fa; 
}
.changeName-button:hover {
  background-color: #37d6fa;   
}
.register2-button:hover {
  background-color: #37d6fa;
  transition: 0.6s;
  cursor: pointer; 
}
.register3-button:hover {
  background-color: #37d6fa;
  transition: 0.6s;
  cursor: pointer;   
}
.register-button:hover {
  background-color: #6be4ff;
  transition: 0.6s;
  cursor: pointer;
}
.createChild-container {
  margin:1% 0 0 35%;
  width:30%;
}
.createChild-container h1 {
  font-weight:600;
  font-size:26px;
}
.createChild-container form {
  display:flex;
  flex-direction:column;
  outline:1px solid black;
  border-radius:20px;
  width:100%;
} 
.submit {

}
.createChild-container form [name="name"]{
  background: url('./Images/changeName-icon.png');
  background-position: 0px 15px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;  
  width: 40%;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s;  
}
.createChild-container form [name="amount"]{
  background: url('./Images/cash-icon.png');
background-position: 0px 5px;
background-size: 32px 32px;
background-repeat: no-repeat;
border:none;
border-bottom: 1px solid #000000;  
margin:0 0 5% 26%;
width: 45%;
text-align: center;
padding: 8px 8px;
font-size: 120%;
transition: 0.6s;
}
.createChild-container form [name="photo"]{
  display: inline-block;
  padding: 10px 20px;
  background-color: #eaeaea;
  color: #333;
  width:42%;
  margin:0 auto;
  border-radius: 5px;
  cursor: pointer;
}
.createChild-container form [name="child.username"]{
  background: url('./Images/changeName-icon.png');
  background-position: 0px 15px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;  
  width: 42%;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s; 
}
.createChild-container form [name="child.email"]{
  background: url('./Images/email-icon.png');
  background-position: 0px 15px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;  
  width: 42%;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s; 
}
.createChild-container form [name="child.password"]{
  background: url('./Images/password-icon.png');
  background-position: 0px 15px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #000000;  
  width: 42%;
  margin:0 auto;
  text-align: center;
  padding: 16px 16px;
  font-size: 120%;
  transition: 0.6s; 
}
.createChild-container form [name="amount"]::placeholder {
  top:3px;
  left:18px;
  width:55%;
}
.createChild-container form [name="name"]::placeholder {
  top:3px;
  left:-58px;
  width:100%;
}
.createChild-container form [name="child.username"]::placeholder {
  top:3px;
  left:-24px;
  width:100%;
}
.createChild-container form [name="child.email"]::placeholder {
  top:3px;
  left:-24px;
  width:100%;
}
.createChild-container form [name="child.password"]::placeholder {
  top:3px;
  left:-24px;
  width:100%;
}
.nav {
  margin: 0 0 5% 0;
  display:flex;
  flex-wrap:wrap;
}
.Card {
  background-color: #0093e9;
  background-image: linear-gradient(0deg, #0093e9 0%, #00ffd2 100%);
}
.parent-view {
display:Flex;
flex-direction:column;
}
.parent-header-container {
  display: flex;
  flex-direction: column;
  margin:0 0 0 2%;
}
.parent-header {
  margin:3% 0 0 0;
  font-weight: 600;
  text-align:center;
  letter-spacing:3px;
  font-size: 240%;
}
.parent-header-name {
  margin:2% 3% 1% 0;
font-weight:bold;
text-align:center;
font-size:160%;
}
.parent-mainHeader {
  text-align: center;
  width: 25%;
  font-size: 150%;
  letter-spacing: 1px;
}
.parent-headerContent {
  margin-top: 0;
}
.title {
  margin:2% 0 1% 46.5%;
  font-size:160%;
}
.title-detail {
  margin:2% 1% 1% 0;
  font-size:160%;  
}
.title-childView {
  margin:2% 0 0 41%;
  font-size:160%;  
}
.childDetail-payment {
  margin:4% 39.5% auto auto;
  outline:1px solid black;
  border-radius:20px;
}
.childDetail-payment p {
  text-align:center;
  font-weight:700;
  display:flex;
  flex-direction: column;
}
.childDetail-payment img {
  margin:2% auto;
}
.cash-icon {
  width:24px;
  height:24px;
  margin-left:5px;
  vertical-align:  top;
  justify-content:center;
}
.nav {
  display:flex;
  justify-content: space-between;
  width:100%;
  flex-basis: 33.33%;
  
}
.settings-view {
  height:82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.message {
  margin-top: 20px;
  margin-bottom:20px;
}
.changePassword-container {

  align-items: center;
  display:flex;
  border-radius:20px;
  outline:1px solid black;
  flex-direction:column;
  margin:0 0 5% 0;
  width:30%;
  height:60%;
}
.changePassword-container h1{
font-weight:700;
font-size:24px;
justify-content: center;
}
.changeName-container {
  width:30%;
  height:60%;
  margin:0 0 5% 0;
  border-radius:20px;
  outline:1px solid black;
  display:flex;
  flex-direction:column;
}
.changeName-container h1{
  font-weight:700;
  font-size:24px;
  }
.mainContainer {
  width: 1600px;
  border-right-color: pink;
}
.navBar {
}
.navBar .childrenCards {
  display: inline-block;
}
.containterCard {
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
}
.childrenCards-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.card {
  display:flex;
  flex-direction:column;
  width: 305px;
  height: 324px;
  border-radius: 15px;
  outline:1px solid black;
  background: linear-gradient(to bottom, #418DFF 0%, #418DFF 30%, #fefefe 25%, #ffffff 100%);
  margin:8% 10% 5% 0;
  transition: 0.6s;
  position: relative;
}
.quarter::before {
  position: absolute;
  top: 0;
  left: 75%;
  width: 100%;
  height: 25%;
}
.name {
  font-size: 32px;
  font-weight:600;
  width:100%;
  margin:58% 0 5% 0;
  text-align:center;
}
.saldo {
  font-weight:500;
  display:flex;
  padding-left:50px;
  margin: 0 auto;
  width:70%;
}
.saldo img {
  margin:0 3% 0 0;
}

.card:hover {
  transition: 0.6s;
  transform: scale(1.02);
  cursor: pointer;
  background: linear-gradient(to bottom, #3282f9 0%, #3282f9 30%, #ffffff 25%, #ffffff 100%);
}
.card:active {
  transition: 0.6s;
  position: relative;
  top: 1px;
  background: linear-gradient(to bottom, #1b74f8 0%, #1b74f8 30%, #ffffff 25%, #ffffff 100%);
}
.avatar img,
.avatar {
  height: 100px;
  width: 100px;
}

.avatar img {
  object-fit: cover;
}
.avatar {
  background: #ffffff;
  padding: 3px;
  border-radius: 50%;
  object-fit: cover;
}
.photoContainer {
  position: absolute;
  margin:7% 0 0 33%;
}
.myButton {
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 15% 0 0 8%;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;
}
.myButton:hover {
  background-color: #24baff;
  transition: 0.6s;
  transform: scale(1.01);
}
.myButton:active,
.btn:active {
  position: relative;
  top: 1px;
  background-color: #00a2ff;
}
table {
  width: 100%;
  height: 80px;
}
#secondColumn {
  text-align: center;
  width: 50%;
}
a {
  color:white;
  text-decoration: none;
  transition:0.6s;
}

.nav-ul li a:hover {
  transition:0.6s;
  color:black;
  text-decoration: none !important;
}
.nav-ul:active {
  transition:0.6s;
  color:black;
  text-decoration: none !important;
}
.main-header-navbar {
  font-weight:500;
  text-decoration:none;
  margin:0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration:none;
  background-color: #4D9DFC;
  height: 8%;
  border-radius: 15px 15px 0 0;
}
header button {
  cursor:pointer;
}
.parent-nav-left-section {
  display: flex;
  align-items: center;
  color:white;
  margin:0 0 0 0.5%;  
}
.parent-nav-left-section img {
  width: 60px; 
  height: auto;
  margin-right: 8px;
}
.parent-nav-right-section {
  display: flex;
  justify-content:space-around;
  margin:0 2% 0 0;
  gap: 16px;
}
header .bellIcon,.gearIcon {
  background: none;
  border: none;
}
header .bellIcon {
  width: 32px;
  height: 32px;
  background-image: url('./Images/bell-icon.png');
}
header .gearIcon {
  width: 32px;
  height: 32px;
  background-image: url('./Images/settings-icon.png');
}
.navButton:hover {
  background-color: #19a7ce;
}
.childHistory-container {
  margin: 5% 0 0 0;
  text-align: center;
  font-weight: 600;
}
.payoffButton {
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 15% 0 0 30%;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;
}
.payoffButton2 {
  background: url('./Images/payment-icon.png');
  background-position: 95% 50%;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  text-align:left;
  cursor: pointer;
  color: #000000;
  width:60%;
  margin: 3% 0 10% 21%;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 31px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;  
}
.paymentButton2 {
  background: url('./Images/cash-request.png');
  background-position: 95% 50%;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  text-align:left;
  cursor: pointer;
  color: #000000;
  width:60%;
  margin: 6% 0 15% 21%;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 31px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;    
}
.payoffButton:hover {
  background-color: #24baff;
  transition: 0.6s;
  transform: scale(1.01);
}
.payoffButton:active,
.btn:active {
  position: relative;
  top: 1px;
  background-color: #00a2ff;
}
.paymentButton {
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 15% 0 0 30%;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 31px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;
}
.payment2Button {
  background: url('./Images/payment-icon.png');
  background-position: 94% 45%;
  background-size: 32px 32px;
  background-repeat:no-repeat;
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 25% 0 0 0%;
  width:100%;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 24px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;  
}
.payment2Button:hover {
  background-color: #24baff;
  transition: 0.6s;
  transform: scale(1.01);
}
.payment3Button:hover {
  background-color: #24baff;
  transition: 0.6s;
  transform: scale(1.01);
}
.payment3Button {
  background: url('./Images/cash-request.png');
  background-position: 94% 45%;
  background-size: 32px 32px;
  background-repeat:no-repeat;
  background-color: #97deff;
  border-radius: 28px;
  border: none;
  width:60%;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  margin: 35% 0 0 5%;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 31px;
  transition: 0.6s;
  text-shadow: 0px 1px 0px #000000;
}
.child-container input[id="photo"] {
  margin:2% auto auto 35%;
  display: inline-block;
  padding: 10px 20px;
  font-weight:700;
  background-color: #eaeaea;
  color: #333;
  width:22%;
  border-radius: 5px 0 0 5px ;
  cursor: pointer;
}

.child-container button[id="changePhoto"] {
  position: relative;
  top: -7.5px;
  margin: 0 auto;
  background-color: #eaeaea;
  color: #333;
  width: 5%;
  height:40px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.photo-change {
  margin:0 auto;
}
.paymentButton:hover {
  background-color: #24baff;
  transition: 0.6s;
  transform: scale(1.01);
}
.paymentButton:active,
.btn:active {
  position: relative;
  top: 1px;
  background-color: #00a2ff;
}
.amount {
  margin: 0 0 0 0;
}
.amountInfo {
  margin: 2% 1% 0 0;
  font-size:8px;
  font-weight:700;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin: 0 10px;
}
.amountTitle {
  display: flex;
  align-items: center;
}

.amountTitle::before,
.amountTitle::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin: 0 55px;
}
/* nav{
  text-align: center;
  font-size: 150%;
} */
header
{
  text-decoration: none;
  font-size: 150%;
  text-align: center;
}
header nav {
  text-decoration: none;
  display: flex;
  gap: 10px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;

  
}

header nav h1 {
  text-decoration: none;
  margin-right: auto;
  

}
header nav a{
  text-decoration: none;
  padding: 6px;

}
header nav a.active {
}

